#grid{

    border: 1px solid green;

    display: flex;
    justify-content: center;

    gap: 10px;
}

.cards{

    border: 1px solid yellowgreen;

    height: 200px;
    width: 200px;
}

.cards:hover{
    background-color: yellowgreen;
}