#board{

    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 50px;
}

#grid{

    /* border: 1px solid green; */

    display: flex;
    justify-content: center;

    gap: 10px;
}

.cards{

    border: 2.5px solid black;
    border-radius: 10px;

    height: 200px;
    width: 200px;

    font-size: 3rem;

    display: flex;

    justify-content: center;
    align-items: center;
}

.cards:hover{
    background-color: yellowgreen;
}

#scoreCard{

    height: 100px;
    width: 250px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 10px;

    border: 2.5px dashed black;
    border-radius: 10px;

    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
}

#score{

    font-size: 2rem;
}