#board{

    border: 1px solid red;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

#grid{

    border: 1px solid green;

    display: flex;
    justify-content: center;

    gap: 10px;
}

.cards{

    border: 1px solid yellowgreen;

    height: 200px;
    width: 200px;
}

.cards:hover{
    background-color: yellowgreen;
}

#scoreCard{

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border: 1px solid purple;
}