#header{

    height: 33vh;
    /* border: 1px solid blue; */

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#heading{

    font-size: 5rem;
    font-family: 'Merienda', cursive;
}

#instruction{

    padding-top: 10px;

    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
}