#header{

    /* height: 33vh; */
    border: 1px solid blue;

    display: flex;
    justify-content: center;
}

#headerSideA{

    /* width: 75%; */
    border: 1px solid brown;
}

#headerSideB{

    /* width: 25%; */
    border: 1px solid brown;
}